* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

}
html {
  height: 100%;
}

body {
  min-height: 100%;
  background-image: url(../images/bg.jpg);

  font-family: Georgia, 'Times New Roman', Times, serif;

  display: grid;
  grid-template-rows: 120px 1fr 80px;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
  grid-template-areas: "header  header  header"
                       " .      main     . "
                       "footer  footer  footer";
}

.item-a {
  grid-area: header;
  background-color: rgba(250, 121, 226, 0.7);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 150%;
}

.item-b {
  grid-area: main;
  background-color: rgba(200, 200, 255, 0.7);

}

h1 {
  text-align: center;
}
.item-c {
  grid-area: footer;
  background-color: rgba(100, 0, 255, 0.5);
  align-content: center;
  text-align: center;
}

.grid-item {
  margin: 10px;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  padding: 20px;
}

img {
  float: left;
  margin: 0 20px 20px 0;

}

ul.hr li{
  display: inline;
  margin-right: 30px;
  white-space: nowrap;
}

ul.hr a{
  color: darkblue;
  text-decoration: none;

}

section{
  margin: 20px;
}
.code {
  background-color: blanchedalmond;
  border: 1px solid black;
  border-radius: 7px;
  padding-top: 10px;

}
.logo{
  max-width: 1024px;
  margin: auto;
}

.img-logo{
  margin: 0 20px;
}
pre{
  font-family: "Courier New", "Lucida Console", monospace;
}
